h1{
    color: indianred;
    text-align: center;
    text-shadow: 2px 2px #a715156b;
    font-size: 5vh;
}
h1{
    animation-duration: 3s;
    animation-name: slidein;
}

h2{
    color: lightcoral;
    text-shadow: 2px 2px #a715156b;
    margin-left: 10em;
    font-size: 1vw;
}

/* pune caracterul \00A7 inainte de scris*/ 
h2::before{
    content: '\00A7'
}

/*background nebun*/
.parallax {
    background-image: url("https://media.allure.com/photos/5f9ecae88e6f01b23a792a21/16:9/w_2560%2Cc_limit/GettyImages-1268463116.jpg");
    height: 600px;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body{
    background-color: floralwhite;
    font: 15px Arial;
}

iframe:focus {
    outline: none;
}
  
iframe[seamless] {
    display: block;
}

p.font{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    text-align: justify;
    margin-left: 20em;
    margin-right: 20em;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    overflow: hidden;
    background-color: maroon;
    vertical-align: baseline;
}
  
.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}
  
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
  
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: lightcoral;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: maroon;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
.dropdown-content a:hover {
    background-color: #ddd;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.logo{
    position: absolute;
    top: 0px;
    right: 0px;
    display: inline;
    float: right;
    transform:translate(20px,20px);
}
.mymakeuplooks{
    text-align: center;
}


/* slides in the header*/  
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
}
/* media query for parallax*/
@media only screen and (max-device-width: 1024px) {
    .bg1,
    .bg2,
    .bg3,
    .bg4,
    .bg5,
    .bg6,
    .bg7,
    .bg8,
    .bg9,
    .bg10 {
        background-attachment: scroll;
    }
}